@import "./variable.css";

html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3,p {
    font-size: var(--h3);
}
h4{
    font-size: var(--h4);
}
h1, h2, h3, h4, h5, li {
    text-align: center;
}