@import "./variable.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  color: black;
}

button {
  @apply bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-blue-500 block w-40 p-2;
  margin: 1rem auto;
}
input {
  @apply text-red-500;
}

div {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.bid-log {
  @apply bg-[#ff00ea] text-xl;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3,
p {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
p {
  font-size: var(--p);
}
h1,
h2,
h3,
h4,
h5,
li,
p,
form {
  text-align: center;
}
