@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

form {
  font-size: 2rem;
}
label {
  font-size: 2rem
}
button {
  @apply bg-[#ff00d9] border border-pink-900 text-black rounded-lg focus:ring-blue-500 block w-40 p-2;
  margin: 1rem auto;
  font-size: 2rem
}

u, .belongs-to-player {
  color: #ff00d9;
}

.inventory-item {
  @apply bg-[#e7e0e6];
  width: 50rem;
}

input {
  @apply text-[#2f00ff];
}

div {
  padding: .5rem;
  margin: .3rem;
  border-radius: 1rem;
}

.section-1, .section-2, .section-3 {
  width: 40rem;
  height: 35rem;
}

img {
  max-width: 150px; 
  max-height: 150px;
  width: auto; 
  height: auto;
}

.bid-log {
  width: 35rem;
  height: 25rem;
  margin-bottom: 0.5rem;
}

.left-side {
  width: 40rem;
}

h1 {
  font-size: 7rem;
  color: rgb(0, 255, 0)
}
h2 {
  font-size: 3rem;
}
h3{
  font-size: 2.5rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
}
h1,
h2,
h3,
h4,
h5,
li,
p,
form {
  text-align: center;
}
